<div class="content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
 <div fxFlex="20">
    <app-header ></app-header>
 </div>
 <div fxFlex="80">
    <router-outlet></router-outlet>
  </div>
</div>
