<div class="tinyurl-page" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <mat-slide-toggle color="primary" [(ngModel)]="toShortUrl" #toggle value="true" (change)="reset()">

    {{toggle.checked ? 'Create Tiny URL': 'Get Original URL'}}</mat-slide-toggle>
  <mat-form-field>
    <input #input matInput placeholder="Enter Url" type="text">
  </mat-form-field>

  <button mat-stroked-button color="primary" [disabled]="!input.value"
    (click)="createUrl(input)">{{toggle.checked ? 'Create Tiny URL': 'Get Original URL'}}</button>

  <div class="error" *ngIf="error">
    {{error}}
  </div>

  <div *ngIf="url">
    <app-url-card [title]="toShortUrl ? 'TinyURL was created!' : 'Original URL'" [url]="url"></app-url-card>
  </div>

</div>
