<mat-card *ngIf="url">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{url}}
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [href]="url" target="_blank">Browse</a>

  </mat-card-actions>

</mat-card>
